@model Bank.Models.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @if (Model.AccountType == 1)
            {
                <text>
                    Checking
                </text>
            }
            @if (Model.AccountType == 2)
            {
                <text>
                    Savings
                </text>
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
    @*<div class="row">
        @using (Html.BeginForm("Index", "Account"))
        {
            <input type="submit" value="Access Another Account" class="col-md-6 col-md-offset-3 btn btn-default" />
        }
    </div>*@

</div>

<p>
    @Html.ActionLink("Deposit", "Deposit") |
    @Html.ActionLink("Access Another Account", "Index", new { htmlAttributes = new { @class = "btn btn-default", @style = "color:white" } })
</p>
