@model Bank.Models.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @if (Model.AccountType == 1)
            {
                <text>
                Checking
                </text>
            }
            @if (Model.AccountType == 2)
            {
                <text>
                Savings
                </text>
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
